/* General Rules */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

body{
    font-family: 'Roboto', sans-serif;
    color: #474b53;
}

/* Header Rules */
header{
    background-color: white;
    height: 12vh;
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    color: black;
    /* Bonus */
    position: fixed;
}


header > img{
    margin: 10px 2px 0px 12px;
    vertical-align: bottom;
}

/* Background Rules*/
.background{
    padding-top: 40px;
    background-color: #f6f8f9;
    height: 130vh;
    width: 100%;
}

/* Container Rules */
.container{
    background-color: white;
    width: 70%;
    height: 85%;
    margin: auto;
    padding: 10px 40px;
    margin-top: 70px;
}

/* Button Rules */
.button{
    margin: 10px 0px 35px 0px;
}

#b-blue{
    background-color: rgba(71, 173, 241, 0.5);
    border: 0px;
    padding: 6px 8px;
    border-radius: 12%;
    color:white;
    font-size: 12px;
    margin-right: 3px;
    cursor: pointer;

}

/* Bonus */
#b-blue:hover{
    background-color: #47adf1;
}

#b-white{
    background-color: white;
    border: 1px solid lightgray;
    padding: 6px 8px;
    border-radius: 12%;
    color:lightgray;
    font-size: 12px;
    cursor: pointer;
}

/* Bonus */
#b-white:hover{
    border: 1px solid black;
    color:black;
}

/* Task Rules */
.title-task{
    margin-top: 40px;
}

.text{
    margin: 8px 0px;
    line-height: 30px;

}

.task{
    font-weight: bold;
    font-size: 18px;

}

.arrow{
    font-size: 16px;
    /* Bonus */
    cursor: pointer;
}

.task-text{
    font-size: 16px;
}

/* Check Symbols Rules */
.check-p{
    color: green;
    border: 1px solid green;
    border-radius: 100px;
    padding: 1px 3px;
    font-size: 12px;
    margin-right: 5px;
}

/* Bonus */
.check-p:hover{
    font-weight: bold;
    border: 3px solid green;
    font-size: 14px;
    cursor: pointer;
}

.check-n{
    color: red;
    border: 1px solid red;
    border-radius: 100px;
    padding: 1px 3px;
    font-size: 12px;
    margin-right: 5px;
}

/* Bonus */
.check-n:hover{
    font-weight: bold;
    border: 3px solid red;
    font-size: 14px;
    cursor: pointer;
}

/* Categories Rules */
.category{
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    /* Bonus */
    cursor: pointer;
}

/* Categories Tag Color */
.editorial{
    background-color: #45abea;
}

.q1-goals{
    background-color: #9c72e4;
}

.recruiting{
    background-color: #64c0a9;
}

.mobile{
    background-color: #f29e33;
}

.website{
    background-color: #da6ba6;
}

.sales{
    background-color: #b8ce3b;
}

